.footer{
    .footer-container{
        width: 1200px;
        margin: 0 auto;
        .footer-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .footer-left{
                p{
                    font-size: 12px;
                }
                a{
                    color: black;
                    text-decoration: underline;
                }
            }

            .footer-center{
                transform: translateX(-10%);
                text-align: center;

                h1,span{
                    font-family: 'Bruno Ace SC', sans-serif;
                }
            }

            .footer-right {
                a {
                    text-decoration: underline;
                    color: black;
                }
            }
        }
    }
}