.home {
  .home-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .home-top {
    background-image: url("../../images/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

    .home-title {
      position: relative;

      .home-title-description {
        width: 350px;
        position: absolute;
        top: 200px;
        right: 100px;

        h2 {
          font-size: 35px;
          font-family: "Bruno Ace SC", sans-serif;
        }

        button {
          border: none;
          outline: none;
          padding: 10px 15px;
          background-color: black;
          color: white;
          margin-top: 20px;
        }

        button:hover {
          background-color: white;
          color: black;
          font-weight: bold;
        }
      }
    }
  }

  .home-recommended {
    margin: 100px 0;

    .home-recommended-desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;

      h4 {
        font-size: 20px;
      }

      a {
        font-size: 14px;
        color: black;
      }
    }

    .recommended-blocks {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 5px;
      grid-row-gap: 5px;

      .block {
        background-color: black;
        width: 200px;
        height: 200px;
        color: white;
        margin: 0 auto;
      }
    }
  }
}

// RESPONSIVE ----------------------------------------

// 700 -----------------------------------------------

@media only screen and (max-width: 750px) {
  .home {
    .home-top {
      background-position: right;

      .home-title {
        .home-title-description {
          top: 200px;
          right: 20px;
        }
      }
    }

    .home-recommended {
      .recommended-blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
}

// 750 - 900 -------------------------------------------

@media only screen and (min-width: 751px) and (max-width: 900px) {
  .home {
    .home-recommended {
      .recommended-blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        
      }
    }
  }
}
