.shop {
  min-height: 70vh;

  .shop-container {
    max-width: 1200px;
    margin: 0 auto;

    .shop-head {
      text-align: center;
      margin: 30px 0;
    }

    .shop-products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 5px;
      grid-row-gap: 15px;
      justify-items: center;
      align-items: center;

      .product {
        width: 240px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid white;

        &:hover {
          border: 2px solid #f0e7d8;
        }

        img {
          width: 150px;
        }

        p {
          margin-top: 15px;
        }
      }
    }
  }
}
